/*GENERAl*/
body{
	font-family:$museo;
	background: $gray;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


ul{
	margin:0;
	padding:0;
	list-style-type: none;
}

a{
	text-decoration:none;
}

a:hover{
	cursor:pointer;
}

.centering{
	display:flex;
	justify-content:center;
	align-items: center;
}
.upper{
	text-transform:uppercase;
}

main{
	width: 100%;
	margin:0 auto;
}

ul.slick-dots{
	text-align: center;
	padding: 3rem 0 2rem 0;
	li{
		display: inline-block;
		margin-right: 8px;
		&:last-child{
			margin-right: 0px;
		}
	}
}

.slick-prev.slick-arrow{
	position: absolute;
	left: 0;
	top:33%;
}

.slick-next.slick-arrow{
	position: absolute;
	right: 0;
	top:33%;
}

.slick-slide img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.dot{
	display: inline-block;
	width:10px;
	height: 10px;
	border-radius: 50%;
	background:$footer-txt;
}

.slick-active .dot{
	background:$cyen;
}

h1 {
    font-size: 2rem;
    margin: 2rem 0;
}

img{
	max-width: 100%;
	height: auto;
}

/*MENU*/

header{
	background: $white;

.header__inner{
	max-width:$max-width;
	margin:0 auto;
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 1.25rem 0;
	
}  

.logo{
	background: url(../images/OC-Logo@2x.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	width: 154px;
	height: 25px;

	}
}


.c-menu-main{
	

	&__item{
		display: inline-block;
		margin-right: 1rem;

		&:last-child{
			margin-right:0px;
		}
	}

	&__item:last-child a{
		color:$cyen;
		border:1px solid $cyen;
		padding:0.75rem 1.6rem;
	}

	&__item a{
		color:$text;
		display: block;
	}

}

/*SECTION HERO*/
.hero{
	position: relative;
	&__inner{
	    position: absolute;
	    margin: 0 auto;
	    text-align: center;
	    top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
	}
	&__inner h1{
		color:$white;
		font-size: 3rem;
	}
	&__inner h2{
		color:$white;
		line-height: 1.5;
	}
	&__inner p{
		color:$white;
		padding: 0 65px;
		line-height: 1.5;

	}
}

/*SECTION EVENT*/
.event{
	padding: 3rem 0;
	display: flex;
    align-items: center;
    justify-content:space-between;
    margin:0 auto;
    max-width: $max-width;


	&__container span{
		color: $cyen;
		font-size: 1.25rem;
	}
	&__container p{
		color:$text;
		display: inline-block;
		font-size: 1.25rem;
		margin-top: 0;
	}
	&__container h6{
		color:$heading;
    	margin: 0;
    	font-size: 1rem;
	}

	&__register {
		
		background: $cyen;
		color:$white;
		text-transform: uppercase;
		font-size: 1.25rem;
		padding: .75rem;
		
	}
}

/*SECTION CLIENTS*/
.clients{
	background: $white;
	text-align: center;
	padding-bottom: 2rem;
	padding-top: 1rem;

	&__inner{
		margin:0 auto;
		max-width: $max-width;
	}

	h1,h2{
		color: $heading;
	}
	h2{
		text-transform: uppercase;
	}

	&__container--margin { 

		@media screen and(min-width: 992px) {
			min-height: 112px;
		}
		
		img {
			max-width: 100%;
			height: auto;
		}
	}		

	&__container p{
		color:$text;
		margin-left:auto;
		margin-right: auto;
		line-height: 1.5;

		@media screen and(min-width: 992px) {
			min-height: 40px;
			max-width: 390px;
		}
	}

	&__container a{
		text-transform: uppercase;
		color: $cyen;
		font-size: 1.25em;
		border:1px solid $cyen;
		padding: 0.75rem 0;
		display: block;
		margin:0 auto;
		max-width: 280px;
		margin-bottom: 2rem;
	}

	#second p{
		@media screen and(min-width: 992px) {
			max-width: 300px;
		}
	}

}

/*SECTION ABOUT*/
.about{
	padding-top:1rem;

	&__inner{
		max-width: $max-width;
		margin:0 auto;
		border-bottom:1px solid $border;
	}

	&__description{
		margin:0 auto;
		text-align: center;
		padding-bottom:7rem; 

		h1,h6{
			color: $heading;
		}

		h6{
			font-size: 20px;
			margin: 0;
		}
		p{
			color:$text;
		}
	}

	&__container{
		background: $white;
		position: relative;
		margin:0 auto;
		text-align: center;
		padding-top: 3rem;
		border-radius: 5px;
		margin-bottom: 4rem;

		@media screen and(min-width: 992px) {
			min-height: 225px;
		}

		
		img{
			position: absolute;
			margin: 0 auto;
			left: 0;
			right: 0;
			display: block;
			top:-20%;

		}

		h2{
			color:$cyen;
		}

		p{
			color:$text;
			max-width: 360px;
    		margin: 0 auto;
		}
	}
}


/*SECTION PARTNERS*/
.partners{
	padding-top: 2rem;

	&__inner{
		margin:0 auto;
		max-width: $max-width;
	}

	h1{
	  text-align:center;
	  margin-bottom: 1.34em;
	  color: $heading;
	}
	&__slider{
		visibility: hidden;

		&__item{

		}
	}
}

/*SECTION BLOG*/
.blog{
	background:$white;
	padding-top: .67em;

	&__inner{
		max-width:$max-width;
		margin:0 auto;
	}
	h1{
	  text-align:center;
	  color:$heading;
	}

	&__slider{
		visibility: hidden;
	}

	&__slider__item{
		
		&__content{
			padding:1rem 0px 2rem 0px;
			border-top:1px solid $border;
			border-bottom:1px solid $border;
			max-width: 300px;
			margin:0 auto;
		}

		&__content h2{
			color:$cyen;
			font-size:1rem;
			font-family:$open;
			font-weight:600;
		}

		&__content p{
			font-family:$open;
			font-size: 1rem;
		}

		&__time{
			display:block;
			padding:1rem 0px 2rem 0px;
			font-size: 1rem;
			font-family:$open;
			max-width: 300px;
			margin:0 auto;
		}

	}
}

/*FOOTER*/
.footer{
	background:$footer-c;
	width:100%;

	&__inner{
		text-align:center;
		padding:0 80px;
		max-width: $max-width;
		margin:0 auto;
	}

	&__social{
		height:140px;
		@extend .centering;
		border-bottom:1px solid $border;

		&__item{
			display: inline-block;
			margin-right:20px;
		}

		&__item:last-child{
			margin-right:0;
		}

		&__item a{
			display:block;
		}

		&__item a i{
			color:$cyen;
			font-size:20px;
		}
	}

	&__bottom{
		height:120px;
		@extend .centering;

		p{
			color:$footer-txt;
			margin:0;
		}
		&__links{
			color:$cyen;
		}
	}
}

.slick-initialized { visibility: visible; }