/*GENERAl*/
body{
	font-family:$museo;
	background: $gray;
}

ul{
	margin:0;
	padding:0;
	list-style-type: none;
}

a{
	text-decoration:none;
}

a:hover{
	cursor:pointer;
}

.centering{
	display:flex;
	justify-content:center;
	align-items: center;
}
.upper{
	text-transform:uppercase;
}

main{
	max-width:1440px;
	margin:0 auto;
}

ul.slick-dots{
	text-align: center;
	li{
		display: inline-block;
	}
}

.slick-prev.slick-arrow{
	position: absolute;
	left: 0;
	top:33%;
}

.slick-next.slick-arrow{
	position: absolute;
	right: 0;
	top:33%;
}

/*MENU*/
.c-menu-main{

	&__item{
		display: inline-block;
	}
}

/*SECTION BLOG*/
.blog{
	background:$white;
	padding-top: .67em;
	h1{
	  text-align:center;
	}

	&__slider__item{
		
		&__content{
			padding:1rem 0px 2rem 0px;
			border-top:1px solid $border;
			border-bottom:1px solid $border;
			max-width: 300px;
			margin:0 auto;
		}

		&__content h2{
			color:$cyen;
			font-size:1rem;
			font-family:$open;
			font-weight:600;
		}

		&__content p{
			font-family:$open;
			font-size: 1rem;
		}

		&__time{
			display:block;
			padding:1rem 0px 2rem 0px;
			font-size: 1rem;
			font-family:$open;
			max-width: 300px;
			margin:0 auto;
		}

	}
}

/*FOOTER*/
.footer{
	background:$footer-c;
	width:100%;

	&__inner{
		text-align:center;
		padding:0 80px;
		max-width: 1440px;
		margin:0 auto;
	}

	&__social{
		height:140px;
		@extend .centering;
		border-bottom:1px solid $border;

		&__item{
			display: inline-block;
			margin-right:20px;
		}

		&__item:last-child{
			margin-right:0;
		}

		&__item a{
			display:block;
		}

		&__item a i{
			color:$cyen;
			font-size:20px;
		}
	}

	&__bottom{
		height:120px;
		@extend .centering;

		p{
			color:$footer-txt;
			margin:0;
		}
		&__links{
			color:$cyen;
		}
	}
}